body {
  font-family: sans-serif;
  padding: 30px 20px;
  margin: 20px;
}

h1 {
  font-weight: 900;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
}

h2,
h3 {
  color: #231d3c;
}

.logo {
  display: block;
  margin: 30px auto;
  width: 150px;
}

i {
  font-size: 100px;
  color: blue;
}
